body {
  min-height: 2000px;
  background-color: #f8f4ff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  /* Untuk browser berbasis Webkit (Chrome, Edge, Safari) */
  ::-webkit-scrollbar {
    width: 12px; /* Lebar scrollbar */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #386fd3; /* Warna scrollbar */
    border-radius: 10px; /* Membuat sudut melengkung */
    border: 3px solid transparent; /* Memberikan efek soft */
    background-clip: padding-box; /* Memastikan border terlihat */
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Warna latar belakang track */
    border-radius: 10px;
  }

  /* Untuk browser lain seperti Firefox */
  scrollbar-color: #386fd3 #f1f1f1; /* Warna scrollbar dan track */
  scrollbar-width: thin; /* Ukuran scrollbar */
}

.navhov {
  color: white; /* Warna default */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navhov:hover {
  color: #ffffff; /* Warna putih terang */
  background-color: rgba(255, 255, 255, 0.2); /* Efek latar belakang terang */
  border-radius: 5px; /* Opsional, untuk sudut melengkung */
}

#log:hover {
  text-decoration-color: #ffffff;
  border-radius: 5px;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
}

.card:hover {
  border: #f8f4ff;
}
.navigation:hover {
  text-decoration-color: aqua;
}
.header-bg {
  background-size: cover; /* Mengatur agar gambar menutupi seluruh elemen */
  background-position: center; /* Pusatkan gambar */
  background-repeat: no-repeat; /* Jangan ulangi gambar */
  min-height: 35vh;
  opacity: 100%;
}

.custom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: black;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button-icon {
  margin-bottom: 8px;
}

.button-icon img {
  width: 30px;
  height: 30px;
}

.button-text {
  font-size: 14px;
}

.carousel-img {
  max-height: 40vh; /* Sesuaikan nilai ini dengan ukuran yang diinginkan */
  object-fit: cover; /* Atur cara gambar menyesuaikan dengan kontainer */
  height: 100%;
  width: fit-content;
}
#layanan:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}
